<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TSI_Yesbycash>
            <version>0.1.2</version>
        </TSI_Yesbycash>
    </modules>
    <global>
        <blocks>
            <tsi_yesbycash>
                <class>TSI_Yesbycash_Block</class>
            </tsi_yesbycash>
        </blocks>
        <blocks>
            <tsi_yesbycash>
                <class>TSI_Yesbycash_Block</class>
            </tsi_yesbycash>
            <sales>
                <rewrite>
                    <order_totals>TSI_Yesbycash_Block_Sales_Order_Totals</order_totals>
                    <order_invoice_totals>TSI_Yesbycash_Block_Sales_Order_Invoice_Totals</order_invoice_totals>
                    <order_creditmemo_totals>TSI_Yesbycash_Block_Sales_Order_Creditmemo_Totals</order_creditmemo_totals>
                </rewrite>
            </sales>
            <adminhtml>
                <rewrite>
                    <sales_totals>TSI_Yesbycash_Block_Adminhtml_Sales_Totals</sales_totals>
                    <sales_order_totals>TSI_Yesbycash_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
                    <sales_order_invoice_totals>TSI_Yesbycash_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
                    <sales_order_creditmemo_totals>TSI_Yesbycash_Block_Adminhtml_Sales_Order_Creditmemo_Totals</sales_order_creditmemo_totals>
                </rewrite>
            </adminhtml>
        </blocks> 
        <models>
            <tsi_yesbycash>
                <class>TSI_Yesbycash_Model</class>
                <resourceModel>tsi_yesbycash_setup</resourceModel>
            </tsi_yesbycash>
        </models>
        <resources>
            <tsi_yesbycash_setup>
                <setup>
                    <module>TSI_Yesbycash</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tsi_yesbycash_setup>
            <tsi_yesbycash_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tsi_yesbycash_write>
            <tsi_yesbycash_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tsi_yesbycash_read>
        </resources>
        <helpers>
            <tsi_yesbycash>
                <class>TSI_Yesbycash_Helper</class>
            </tsi_yesbycash>
        </helpers>
        <fieldsets>
            <sales_convert_quote_address>
                <yesbycash_fee>
                    <to_order>*</to_order>
                </yesbycash_fee>
                <yesbycash_fee>
                    <to_order>*</to_order>
                </yesbycash_fee>
            </sales_convert_quote_address>
        </fieldsets>
        <sales>
            <order>
                <statuses>
                    <pending_yesbycash translate="label">
                        <label>En attente de paiement</label>
                    </pending_yesbycash>
                    <pending_yesbycash_auth translate="label">
                        <label>En attente de l'authentification</label>
                    </pending_yesbycash_auth>
                    <canceled_yesbycash_refused translate="label">
                        <label>Refusé</label>
                    </canceled_yesbycash_refused>
                    <canceled_yesbycash_expired translate="label">
                        <label>Expiré</label>
                    </canceled_yesbycash_expired>
                    <processing_yesbycash_paid translate="label">
                        <label>Payé</label>
                    </processing_yesbycash_paid>
                </statuses>
                <states>
                    <pending_payment>
                        <statuses>
                            <pending_yesbycash/>
                            <pending_yesbycash_auth/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                    <canceled>
                        <statuses>
                            <canceled_yesbycash_refused/>
                            <canceled_yesbycash_expired/>
                        </statuses>
                    </canceled>
                    <processing>
                        <statuses>
                            <processing_yesbycash_paid/>
                        </statuses>
                    </processing>
                </states>
            </order>
            <quote>
                <totals>
                    <yesbycash_fee>
                        <class>tsi_yesbycash/sales_quote_address_total_yesbycashfee</class>
                        <after>subtotal,discount,shipping,tax</after>
                        <before>grand_total</before>
                    </yesbycash_fee>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <yesbycash_fee>
                        <class>tsi_yesbycash/sales_order_invoice_total_yesbycashfee</class>
                    </yesbycash_fee>                    
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <yesbycash_fee>
                        <class>tsi_yesbycash/sales_order_creditmemo_total_yesbycashfee</class>
                    </yesbycash_fee>                    
                </totals>
            </order_creditmemo>
        </sales> 
        <pdf>
            <totals>
                <yesbycash_fee translate="title">
                    <title>Frais de service Yesbycash</title>
                    <source_field>yesbycash_fee</source_field>
                    <amount_prefix></amount_prefix>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>200</sort_order>
                </yesbycash_fee>
            </totals>    
        </pdf>  
    </global>
    <frontend>
        <routers>
            <tsi_yesbycash>
                <use>standard</use>
                <args>
                    <module>TSI_Yesbycash</module>
                    <frontName>tsi_yesbycash</frontName>
                </args>
            </tsi_yesbycash>
        </routers>
        <layout>
            <updates>
                <tsi_yesbycash>
                    <file>yesbycash.xml</file>
                </tsi_yesbycash>
            </updates>
        </layout>
        <translate>
            <modules>
                <TSI_Yesbycash>
                    <files>
                        <default>TSI_Yesbycash.csv</default>
                    </files>
                </TSI_Yesbycash>
            </modules>
        </translate>
        <events>
            <controller_action_predispatch_checkout_onepage_savePayment>
                <observers>
                    <tsi_yesbycash_setoutlet>
                        <type>singleton</type>
                        <class>TSI_Yesbycash_Model_Observer</class>
                        <method>setOutlet</method>
                    </tsi_yesbycash_setoutlet>
                </observers>
            </controller_action_predispatch_checkout_onepage_savePayment>
            <controller_action_postdispatch_checkout_onepage_savePayment>
                <observers>
                    <tsi_yesbycash_checktelephone>
                        <type>singleton</type>
                        <class>TSI_Yesbycash_Model_Observer</class>
                        <method>checkTelephone</method>
                    </tsi_yesbycash_checktelephone>
                </observers>
            </controller_action_postdispatch_checkout_onepage_savePayment>
            <checkout_submit_all_after>
                <observers>
                    <tsi_yesbycash_redirect_url>
                        <type>singleton</type>
                        <class>TSI_Yesbycash_Model_Observer</class>
                        <method>setRedirectUrl</method>
                    </tsi_yesbycash_redirect_url>
                </observers>
            </checkout_submit_all_after>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <TSI_Yesbycash>
                    <files>
                        <default>TSI_Yesbycash.csv</default>
                    </files>
                </TSI_Yesbycash>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payment>
                                            <children>
                                                <yesbycash_standard translate="title">
                                                    <title>Yesbycash</title>
                                                </yesbycash_standard>
                                            </children>
                                        </payment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <yesbycash_standard>
                <active>1</active>
                <model>tsi_yesbycash/standard</model>
                <server_dev>https://yesbycash.test.tsipayment.net</server_dev>
                <server_prod>https://yesbycash.tsipayment.net</server_prod>
                <allowed_ips>89.224.17.108,89.30.106.0,89.30.106.1,89.30.106.2,89.30.106.3,89.30.106.4,89.30.106.5,89.30.106.6,89.30.106.7,89.30.106.8,89.30.106.9,89.30.106.10,89.30.106.11,89.30.106.12,89.30.106.13,89.30.106.14,89.30.106.15,89.30.106.16,89.30.106.17,89.30.106.18,89.30.106.19,89.30.106.20,89.30.106.21,89.30.106.22,89.30.106.23,89.30.106.24,89.30.106.233,89.30.106.246,89.30.106.214,194.206.43.233,46.255.181.162,89.224.17.108</allowed_ips>
                <endpoint>?wsdl</endpoint>
                <title>Payer avec Yesbycash</title>
                <merchant_id></merchant_id>
                <merchant_key></merchant_key>
                <merchant_key></merchant_key>
                <key></key>
                <allowspecific>1</allowspecific>
                <specificcountry>FR</specificcountry>
                <yesbycash_fee>0</yesbycash_fee>
                <yesbycash_fee_type>yesbycash_fee_type_currency</yesbycash_fee_type>
                <yesbycash_fee_value></yesbycash_fee_value>
                <mode_test>0</mode_test>
                <order_status>pending_yesbycash</order_status>
            </yesbycash_standard>
        </payment>
    </default>
</config>